<h1>About</h1>
<%= image_tag "portrait.jpg" %>
<br><br>
<p>
  Welcome!  My name is Josh, I'm a programmer.  Sometimes I like to share things I find interesting or things I've learned.  This blog is implimented in Ruby on Rails and deployed to Heroku for hosting.  The source is available on Github.  Feel free to leave comments on the posts or start a discussion.
</p>